<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <nav class="categories">
        <% categories.forEach(category => { %>
            <a href="?categ=<%=category.key%>"><%=category.name%></a>
        <% }) %>
    </nav>

    <div class="main">
        <div class="main-title">
            <h1>Профиль</h1>
        </div>

        <div class="profile">
            <div class="profile-img">
                <img src="/img/profile-img.jpg" alt="">
            </div>
            <div class="profile-info">
                <p><span>Полное имя: </span><%=user.full_name%></p>
                <p><span>E-mail: </span><%=user.email%></p>
                
                <%
                if(loginUser.id == user.id){
                %>  
                <!-- <button>Редактировать профиль</button> -->
                <a href="/api/signout"><button>Выход</button></a>
                <%  
                    }
                %>
                
            </div>
        </div>
        <div class="main-title">
            <h1>Мои события</h1>
        </div>
        <div class="main-content">

            <% 
            if(user.myEvents.length > 0){
                user.myEvents.forEach(event => {
            %>

                <div class="event">
                    <div class="event-img">
                        <a href="">
                            <img src="<%=event.image%>" alt="">
                        </a>
                        <div class="event-booking">
                            <a href=""><button class="book-btn" onclick="cancelRegistration(event, '<%=event._id%>')">
                                Место забронировано
                            </button></a>
                        </div>
                        <div class="event-categ">
                            <i class="fa-regular fa-calendar badge"></i>
                            <p class="badge"><%=event.category.name%></p>
                            <p class="badge">Мест: <%= event.availableSeats %></p>
                        </div>
                    </div>
                    <a href="/detail/<%=event._id%>"><%=event.title%></a>
                    <div class="event-info">
                        <p><%=event.date%> в <%=event.time%>, <%=event.place%>, <%=event.address%></p>
                    </div>
                </div>

            <%
                })
            }
            %>
            
        </div> 
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/registerToEvent.js"></script>
</body>
</html>